<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RATE THAT BIRD</title>
    <script src="https://cdn.tailwindcss.com/3.3.3"></script>
  </head>
  <body>
    <img src="{{ botd.img }}" />
    <div class="flex justify-center w-screen flex-col">
      <div class="font-semibold text-8xl block text-center">RATE THAT BIRD</div>
      <div class="w-screen text-center">
        <a href="https://github.com/aeiea/ratethatbird" class="underline"
          >star on github</a
        >
      </div>
    </div>
    <div class="relative flex py-5 items-center justify-center">
      <div class="border-t border-gray-400 w-[95vw]"></div>
    </div>
    <div class="grid grid-cols-3 w-screen p-10 gap-4">
      {% for bird in birds %}
      <div class="shadow p-4 ring-1 rounded-md">
        <h2>{{ bird.name }}</h2>
        <p>{{ bird.description }}</p>
        <img src="{{ bird.image }}" alt="{{ bird.name }}" />
        <p>Rating: {{ bird.rating }} out of 10</p>
        <form action="/rate" method="post">
          <input type="hidden" name="id" value="{{ bird.id }}" />
          <label for="rating">Rate this bird:</label>
          <input type="range" min="1" max="10" name="rating" value="1" />
          <input type="submit" value="Rate" class = ''/>
        </form>
        <!--<a href="/{{ bird.id }}">Share this bird</a> coming soon to a bird-rater near you -->
      </div>
      {% endfor %}
    </div>
  </body>
</html>
